p {
	color: black;
	font-family: Arial, Helvetica, sans-serif;
}
div {
	font-family: Arial, Helvetica, sans-serif;
}
header {
	font-family: Arial, Helvetica, sans-serif;
	color: deeppink;
}
table {
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
}
th {
	background-color: hotpink;
	color: white;
}
ul {
	font-family: Arial, Helvetica, sans-serif;
}